/*bloquea el overflow en moviles*/
html, body{
  overflow-x: hidden;
}
/*CSS PARA EL FOOTER*/
html, body, #wrap{
  height: 100%; /*permite que tome el 100% de la pantalla*/
}
body > #wrap{height: auto; min-height: 100%;} /*mantiene como minimo el 100% de alto de la pantalla*/
#main{padding-bottom:70px; } /*Este padding sera el margen negativo y la altura del footer*/
#footer{
  position: relative;
  margin-top: -70px; /*tomando valor negativo del padding del main*/
  min-height: 70px; /*altura igual que el padding para el footer*/
  clear:both;
  /*colores y diseno al footer*/
  background: #000000;
  border-top: 1px solid #dedede;
}
.footer{
  font-weight: normal;
  font-size: 0.9em;
  padding-top: 22px;
  color:#fff;
  line-height: 25px;
}
.footer .logogises img{
  vertical-align: middle;
  margin-top: -5px;
}
/*clase que elimina elementos flotantes*/
.clearf{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.clearf{display: inline-block;}
html .clearf{height: 1%;}
.clearf{display: block;}
/*Fin de la clase para el FOOTER*/

body{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f0f0f0;
}

/* NAVBAR */
.navbar-style{
  min-height: 90px;
  background-color: #fefefe;
  border-color: #dcdcdc;
}
/*Dropdown nav*/
.navbar-drop{
  padding: 15px;
}
.nav-logo img{
  padding: 10px;
}
.navbar-default .navbar-menu{
    border-color: #018FC5;
}
.navbar-default .navbar-menu .icon-bar{
    background-color: #018FC5;
}
.navbar-default .navbar-menu:hover,
.navbar-default .navbar-menu:focus{
    background-color: #018FC5;
}
.navbar-default .navbar-menu:hover .icon-bar,
.navbar-default .navbar-menu:focus .icon-bar{
    background-color: #fff;
}
@media screen and (max-width: 767px){
  .navbar-collapsed{
    margin-top: 40px;
  }
  .navbar-menu{
    margin-top: 25px;
  }
}

@media(max-width: 480px){
  .nav-logo img{
    width: 81%;
    padding: 15px;
  }
}
/* Fin NAVBAR */

/* CONTENIDO */
.cuerpo{
  margin-top: 115px;
}
/* Menu lateral */
.list-menu {
  background-color: #fff;
  border: 1px solid #DDD;
}
.list-menu.active,
.list-menu.active:hover,
.list-menu.active:focus{
  background-color: #018FC5;
  border-color: #018FC5;
}
/* Contenido de la pagina */
.contenido{
  height: 100%;
  min-height: 400px;
  background: #fff;
  box-shadow: 0px 0px 3.5px #E4E1E1;
  border: 1px solid #d4d5dc;
  padding: 10px;
}
/* Paneles con pestañas */
.panel.with-nav-tabs.panel-clinica{
    border-color: #018FC5;
}
.panel.with-nav-tabs > .panel-heading{
    padding: 5px 5px 0 5px;
    background-color: #018FC5;
    border-color: #018FC5;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-clinica .nav-tabs > li > a,
.with-nav-tabs.panel-clinica .nav-tabs > li > a:hover,
.with-nav-tabs.panel-clinica .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-clinica .nav-tabs > .open > a,
.with-nav-tabs.panel-clinica .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-clinica .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-clinica .nav-tabs > li > a:hover,
.with-nav-tabs.panel-clinica .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #007BA0;
	border-color: transparent;
}
.with-nav-tabs.panel-clinica .nav-tabs > li.active > a,
.with-nav-tabs.panel-clinica .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-clinica .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}

/*Botones cambiados*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.btn-primary:hover{
    background-color: #018FC5;
    border-color: #018FC5;
}
.btn-primary.btn-outline {
    border-color: #018FC5;
    color: #018FC5;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Boton file */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
/* Boton file */

/*Foto Personal*/
.img-personal{
  width: 85%;
  height: 85%;
  margin-bottom: 7px;
}
@media screen and (max-width: 991px){
    .img-personal{
        width: 30%;
        height: 30%;
    }
}
@media screen and (max-width: 767px){
    .img-personal{
        width: 45%;
        height: 45%;
    }
}
/*texto pequeño*/
.small-font{
    font-size:70%;
}
